*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: black;
  }
  .continer{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    .continer{
      width: 750px;
    }
  }
  @media (min-width:992px) {
    .continer{
      width: 970px;
    }
  }
  @media (min-width:1200px) {
    .continer{
      width: 1170px;
    }
    
  }
  .continer{
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: #333131;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 16px #d7d7d7;
    border-radius: 20px;
  }
  .Face{
    position: relative;
    height: 250px;
    width: 60px;
    background-color: #fce2c4;
    left: 220px;
    top: 100px;
    border: 4px solid #ffa945;
    border-bottom: none;
    transform: rotate(4deg);
  }
  .Face::before{
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: #fce2c4;
    top: 170px;
    left: -12px;
    border-left: 6px solid #ffa945;
    border-bottom: 4px solid #ffa945;
    border-bottom-left-radius: 10px;
    transform: skew(-40deg);
  }
  .Face::after{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #fce2c4;
    top: 80px;
    left: 48px;
    border-radius: 50%;
    border: 4px solid #ffa945;
    border-top: none;
    border-left: none;
    transform: rotate(-40deg);
  }
  .nose{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fce2c4;
    left: 177px;
    bottom: 90px;
    border:4px solid #ffa945;
    border-radius: 14px 0 0 14px;
    border-right: none;
    transform: rotate(4deg);
    z-index: 1;
  }
  .nose::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: #fce2c4;
    border-top: 4px solid #ffa945;
    left: 30px;
    top: -4px;
  }
  .eye{
    position: relative;
    height: 44px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
    left: 206px;
    bottom: 176px;
    transform: rotate(4deg);
    z-index: 0;
  }
  .eye::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 10px;
    background-color: black;
    left: 14px;
    top: 20px;
    border-radius: 50%;
    transform: rotate(16deg);
  }
  .eye::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: white;
    left: 18px;
    top: 24px;
    border-radius: 50%;
  }
  .eye2{
    width: 40px;
    height: 40px;
    bottom: 213px;
    left: 234px;
    z-index: 5;
  }
  .eye2::before{
    top: 12px;
  }
  .eye2::after{
    top: 14px;
  }
  .hair{
    position: relative;
    bottom: 252px;
    left: 10px;
    z-index: 50;
  }
  .hair>div:nth-child(1){
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid green;
    left: 188px;
    bottom: 33px;
    border-radius: 30px 31px 0 0;
    transform: rotate(30deg);
  }
  .hair>div:nth-child(2){
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid green;
    left: 205px;
    bottom: 40px;
    border-radius: 30px 31px 0 0;
    transform: rotate(48deg);
  }
  .hair>div:nth-child(3){
    position: absolute;
    height: 30px;
    width: 80px;
    border-top: 20px solid green;
    left: 222px;
    bottom: 28px;
    border-radius: 30px 31px 0 0;
    transform: rotate(126deg);
  }
  .hair>div:nth-child(4){
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid green;
    left: 199px;
    bottom: 11px;
    border-radius: 50px 40px 0 0;
    transform: rotate(20deg);
  }
  .hair>div:nth-child(5){
    position: absolute;
    height: 30px;
    width: 50px;
    border-top: 20px solid green;
    left: 260px;
    bottom: 20px;
    border-radius: 30px 31px 0 0;
    transform: rotate(10deg);
  }